---
layout: default
title: Controlli
---

<main>

  <table>

    <thead>
      <tr>
	<th colspan="3" rowspan="2">&nbsp;</th>
	<th rowspan="2" colspan="3">ora</th>
	<th rowspan="2">staff</th>
	<th rowspan="2">risposte</th>
	<th rowspan="2">caratteri</th>
	<th colspan="2">peso</th>
	<th colspan="9">commenti</th>	
      </tr>
      <tr>
	<th>atteso</th>
	<th>commenti</th>

	<th>data ok</th>
	<th>validità media</th>
	<th>&nbsp;</th>
	<th>validità</th>
	<th>peso</th>
	<th colspan="3">ora</th>
	
      </tr>

    </thead>

    {% assign sorted = site.data.checks | sort:timestamp %}
    {% for c_hash in sorted %}
    {% assign check = c_hash[1]  %}
    <tbody{% if check.closed %} class="disabled"{% endif %}>

    {% if check.num_commenti == 0 %}
    <tr>
      <th><a href="{{ check.url }}">{{ check.topic_id }}</a></th>
      <td>{% if check.closed %}<i class="fa fa-lock"></i>{% else %}&nbsp;{% endif %}</th>
      <td><a href="{{ check.url }}"><b>{{ check.title }}</b></a><br/>
	di <a href="{{ check.author.url }}">{{ check.author.name }}</a>
	in <a href="{{ check.forum.url }}">{{ check.forum.title }}</a></td>

      <td>{{ check.timestamp | date:"%a" }}</td>
      <td>{{ check.timestamp | date:"%d %b" }}</td>
      <td class="right">{{ check.timestamp | date:"%H:%M" }}</td>

      <td>
	{% for p in check.post_staff %}
	{% if forloop.first %}{% else %}<br/>{% endif %}
	<a href="{{ p.url }}">{{ p.author.name }}</a>
	{% endfor %}
      </td>

      <td class="right">{{ check.num_posts | minus:1 }}</td>
      <td class="right">{% include booltoclass.html check=check.checks.num_chars val=check.num_chars %}</td>
      <td class="center">{{ check.expected_weight }}</td>
      <td class="center">{% include booltoclass.html check=check.checks.weight val=check.commenti_weight %}</td>
      <td class="center">{% include booltocheck.html val=check.checks.timestamp %}</td>
      <td class="right">{% include validtospan.html val=check.checks.valid %}</td>

      <td colspan="6"><span class="invalid"><i>nessun commento</i></span></td>

    </tr>

    {% else %}

    {% for comm in check.commenti %}
    <tr>
      {% if forloop.first == true %}
      <th rowspan="{{ check.num_commenti }}"><a href="{{ check.url }}">{{ check.topic_id }}</a></th>
      <td rowspan="{{ check.num_commenti }}">{% if check.closed %}<i class="fa fa-lock"></i>{% else %}&nbsp;{% endif %}</th>
      <td rowspan="{{ check.num_commenti }}"><a href="{{ check.url }}"><b>{{ check.title }}</b></a><br/>
      di <a href="{{ check.author.url }}">{{ check.author.name }}</a>
      in <a href="{{ check.forum.url }}">{{ check.forum.title }}</a></td>
      <td rowspan="{{ check.num_commenti }}">{{ check.timestamp | date:"%a" }}</td>
      <td rowspan="{{ check.num_commenti }}">{{ check.timestamp | date:"%d %b" }}</td>
      <td rowspan="{{ check.num_commenti }}" class="right">{{ check.timestamp | date:"%H:%M" }}</td>
      <td rowspan="{{ check.num_commenti }}">
	{% for p in check.post_staff %}
	{% if forloop.first %}{% else %}<br/>{% endif %}
	<a href="{{ p.url }}">{{ p.author.name }}</a>
	{% endfor %}
      </td>
      <td rowspan="{{ check.num_commenti }}" class="right" >{{ check.num_posts | minus:1 }}</td>

      <td rowspan="{{ check.num_commenti }}" class="right" >{% include booltoclass.html check=check.checks.num_chars val=check.num_chars %}</td>

      <td rowspan="{{ check.num_commenti }}" class="center">{{ check.expected_weight }}</td>
      <td rowspan="{{ check.num_commenti }}" class="center">{% include booltoclass.html check=check.checks.weight val=check.commenti_weight %}</td>

      <td rowspan="{{ check.num_commenti }}"  class="center">{% include booltocheck.html val=check.checks.timestamp %}</td> 
      <td rowspan="{{ check.num_commenti }}" class="right" >{% include validtospan.html val=check.checks.valid %}</td>
      {% endif %}

      <td><a href="{{ comm.url }}">{{ comm.title }}</a></td>
      <td class="right">{% include validtospan.html val=comm.checks.valid %}</td>
      <td class="center">{{ comm.weight }}</td>
      

      {% include timestampchecktocells.html check=comm.checks.timestamp val=comm.timestamp %}

    </tr>
    {% endfor %}

    {% endif %}

    </tbody>
    {% endfor %}
  </table>

</main>

<footer>
  Last update: {{ site.time }}
</footer>
