---
layout: default
title: Controlli
---

<main>

  <table>

    <thead>
      <tr>
	<th colspan="3" rowspan="2">&nbsp;</th>
	<th rowspan="2" colspan="3">ora</th>
	<th rowspan="2">staff</th>
	<th rowspan="2">risposte</th>
	<th rowspan="2">caratteri</th>
	<th colspan="2">peso</th>
	<th colspan="9">commenti</th>	
      </tr>
      <tr>
	<th>atteso</th>
	<th>commenti</th>

	<th>data ok</th>
	<th>validità media</th>
	<th>&nbsp;</th>
	<th>validità</th>
	<th>peso</th>
	<th colspan="3">ora</th>
	
      </tr>

    </thead>

    {% assign sorted = site.data.checks | sort:timestamp %}

    {% for c_hash in sorted reversed %}
    {% assign topic = c_hash[1]  %}
    <tbody{% if topic.closed %} class="disabled"{% endif %}>

    {% if topic.num_commenti == 0 %}
    <tr>
      <th><a href="{{ topic.url }}">{{ topic.topic_id }}</a></th>
      <td>{% if topic.closed %}<i class="fa fa-lock"></i>{% else %}&nbsp;{% endif %}</th>
      <td><a href="{{ topic.url }}"><b>{{ topic.title }}</b></a><br/>
	in <a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a>
	di <a href="{{ topic.author.url }}">
	  {% include booltoclass.html check=topic.author.checks.flag val=topic.author.name %}</a>
	{% if topic.author.checks.flag %}{% else %}p={{ topic.author.checks.poesia }}, r={{ topic.author.checks.narrativa }}, c={{ topic.author.checks.contest }}{% endif %}
      </td>

      <td>{{ topic.timestamp | date:"%a" }}</td>
      <td>{{ topic.timestamp | date:"%d %b" }}</td>
      <td class="right">{{ topic.timestamp | date:"%H:%M" }}</td>

      <td>
	{% for p in topic.post_staff %}
	{% if forloop.first %}{% else %}<br/>{% endif %}
	<a href="{{ p.url }}">{{ p.author.name }}</a>
	{% endfor %}
      </td>

      <td class="right">{{ topic.num_posts | minus:1 }}</td>
      <td class="right">{% include booltoclass.html check=topic.checks.num_chars val=topic.num_chars %}</td>
      <td class="center">{{ topic.expected_weight }}</td>
      <td class="center">{% include booltoclass.html check=topic.checks.weight val=topic.commenti_weight %}</td>
      <td class="center">{% include booltocheck.html val=topic.checks.timestamp %}</td>
      <td class="right">{% include validtospan.html val=topic.checks.valid %}</td>

      <td colspan="6"><span class="invalid"><i>nessun commento</i></span></td>

    </tr>

    {% else %}

    {% for comm in topic.commenti %}
    <tr>
      {% if forloop.first == true %}
      <th rowspan="{{ topic.num_commenti }}"><a href="{{ topic.url }}">{{ topic.topic_id }}</a></th>
      <td rowspan="{{ topic.num_commenti }}">{% if topic.closed %}<i class="fa fa-lock"></i>{% else %}&nbsp;{% endif %}</th>
      <td rowspan="{{ topic.num_commenti }}"><a href="{{ topic.url }}"><b>{{ topic.title }}</b></a><br/>
	in <a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a>
	di <a href="{{ topic.author.url }}">
	  {% include booltoclass.html check=topic.author.checks.flag val=topic.author.name %}</a>
	{% if topic.author.checks.flag %}{% else %}p={{ topic.author.checks.poesia }}, r={{ topic.author.checks.narrativa }}, c={{ topic.author.checks.contest }}{% endif %}
      </td>
      <td rowspan="{{ topic.num_commenti }}">{{ topic.timestamp | date:"%a" }}</td>
      <td rowspan="{{ topic.num_commenti }}">{{ topic.timestamp | date:"%d %b" }}</td>
      <td rowspan="{{ topic.num_commenti }}" class="right">{{ topic.timestamp | date:"%H:%M" }}</td>
      <td rowspan="{{ topic.num_commenti }}">
	{% for p in topic.post_staff %}
	{% if forloop.first %}{% else %}<br/>{% endif %}
	<a href="{{ p.url }}">{{ p.author.name }}</a>
	{% endfor %}
      </td>
      <td rowspan="{{ topic.num_commenti }}" class="right" >{{ topic.num_posts | minus:1 }}</td>

      <td rowspan="{{ topic.num_commenti }}" class="right" >{% include booltoclass.html check=topic.checks.num_chars val=topic.num_chars %}</td>

      <td rowspan="{{ topic.num_commenti }}" class="center">{{ topic.expected_weight }}</td>
      <td rowspan="{{ topic.num_commenti }}" class="center">{% include booltoclass.html check=topic.checks.weight val=topic.commenti_weight %}</td>

      <td rowspan="{{ topic.num_commenti }}"  class="center">{% include booltocheck.html val=topic.checks.timestamp %}</td> 
      <td rowspan="{{ topic.num_commenti }}" class="right" >{% include validtospan.html val=topic.checks.valid %}</td>
      {% endif %}

      <td><a href="{{ comm.url }}">{{ comm.title }}</a></td>
      <td class="right">{% include validtospan.html val=comm.checks.valid %}</td>
      <td class="center">{{ comm.weight }}</td>
      

      {% include timestampchecktocells.html check=comm.checks.timestamp val=comm.timestamp %}

    </tr>
    {% endfor %}

    {% endif %}

    </tbody>
    {% endfor %}
  </table>

</main>

<footer>
  Last update: {{ site.time }}
</footer>
