.current {
  color: green;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

.warning {
    color: #ffa000;
}

body {
    font-family: 'Raleway', serif;
    font-size: 10pt;
}

footer {
    min-height: 3em;
    margin-top: 3em;
    color: #909090;
    border-top: 1px solid #909090;
}

main {
    width: 100%;
}

table {
    width: 100%;

    tbody.disabled {
	color: #909090;
	a {
	    color: #909090;
	}
	.valid {
	    color: #90e090;
	}
	
	.invalid {
	    color: #ffa0a0;
	}
	
	.warning {
	    color: #ffd0a0;
	}
    }

    a {
	color: black;
    }

    td, th {
	border-bottom: 1px solid black;
    }

    thead {
	background-color: #808080;
	color: white;
    }

    tbody {
	th {
	    text-align: right;
	}
    }

    tbody:nth-child(odd) {
	background-color: #f8f8f8;
    }
    
    tbody:nth-child(even) {
	background-color: #f0f0f0;
    }


}